.nova-services-main_view {
  display: flex;
  flex-direction: column;
  padding: 2.8rem 6.8rem 0rem 16.6rem;
}

.nova-services-main_view h1 {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4rem;
  color: #171D1C;
  padding-bottom: 3.6rem;
}

.nova-services-top_view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.nova-services-single_service_view {
  display: flex;
  flex-direction: column;
  margin-right: 9.8rem;
  margin-bottom: 7.5rem;
  width: 39.9rem;
}

.nova-services-single_service_view img {
  width: 39.9rem;
  height: 32.6rem;
  object-fit: contain;
  cursor: pointer;
}

.nova-services-single_service_title_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.7rem;
  margin-bottom: 1.4rem;
  cursor: pointer;

}

.nova-services-single_service_view h2 {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: #051014;
}

.nova-services-single_service_view h3 {
  font-family: 'Comfortaa';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #171D1C;

}

.nova-services-single_service_view h4 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: #3D3D3D;
  padding-bottom: 3.5rem;
  cursor: pointer;

}

.nova-services-single_service_border_view {
  display: flex;
  width: 14.9rem;
  margin-top: -0.5rem;
  border: 5px solid #EE509C;
}

@media screen and (max-width:1724px) {
  .nova-services-main_view {
    padding: 2.8rem 4.8rem 0rem 12.6rem;
  }

  .nova-services-main_view h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .nova-services-single_service_view {
    margin-right: 5.8rem;
    margin-bottom: 3.5rem;
    width: 36rem;
  }

  .nova-services-single_service_view img {
    width: 36rem;
    height: 28.6rem;
  }

  .nova-services-single_service_title_view {
    margin-top: 2rem;
    margin-bottom: 1.2rem;
  }

  .nova-services-single_service_view h2 {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .nova-services-single_service_view h3 {
    font-size: 2rem;
    line-height: 2.5rem;

  }

  .nova-services-single_service_view h4 {
    font-size: 1.6rem;
    line-height: 2.6rem;
    padding-bottom: 3rem;
  }

  .nova-services-single_service_border_view {
    width: 12.9rem;
    border: 3px solid #EE509C;
  }
}

@media screen and (max-width:650px) {
  .nova-services-main_view {
    padding: 2.8rem 5rem 0rem 5rem;
  }

  .nova-services-main_view h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .nova-services-single_service_view {
    width: 32rem;
    margin-right: 0rem;
    margin-bottom: 3.5rem;
  }

  .nova-services-single_service_view img {
    width: 32rem;
  }

  .nova-services-single_service_view h2 {
    font-size: 1.6rem;
    line-height: 2rem;
  }

  .nova-services-single_service_view h3 {
    font-size: 1.6rem;
    line-height: 2rem;

  }

  .nova-services-single_service_view h4 {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding-bottom: 2rem;
  }

  .nova-services-single_service_border_view {
    width: 10rem;
  }
}

@media screen and (max-width:425px) {
  .nova-services-main_view {
    padding: 2.8rem 3rem 0rem 3rem;
  }

  .nova-services-main_view h1 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .nova-services-single_service_view {
    width: 25rem;
    margin-bottom: 3rem;
  }

  .nova-services-single_service_view img {
    width: 25rem;
    height: 20rem;
    object-fit: cover;
  }

  .nova-services-single_service_view h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .nova-services-single_service_view h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;

  }

  .nova-services-single_service_view h4 {
    font-size: 1.2rem;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  .nova-services-single_service_border_view {
    width: 9rem;
  }
}