.nova-profile-container {
  display: flex;
  flex-direction: column;
  padding: 3.2rem 16.6rem;
}

.nova-profile-back_ground-image img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  border-radius: 114px 0px 0px 0px;
}

.nova-profile-back_ground-image {
  position: relative;
}
.nova-profile-update-profile-image {
  width: 4.1rem;
  height: 3.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  top: 26rem;
  right: 2rem;
  border-radius: 12px;
  cursor: pointer;
}

.nova-profile-back_ground-image .nova-profile-update-profile-image img {
  width: 2rem;
  height: 1.8rem;
}
.nova-profile-picture-main-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 25rem;
}

.nova-profile-picture-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nova-profile-image-container img {
  width: 23rem;
  height: 23rem;
  object-fit: cover;
  border-radius: 50%;
}
.nova-profile-profile_name-container {
  margin-left: 3.2rem;
}
.nova-profile-profile_name-container h1 {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 3.2rem;

  color: black;
}

.nova-profile-profile_name-container p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: black;
}

.nova-profile-message-btn {
  width: 18.6rem;
  height: 4.8rem;
  background: #ee509c;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.nova-profile-message-btn p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  color: #fff;
}

.nova-profile-message-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 1rem;
}
.nova-profile-message-count p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ee509c;
}

.nova-profile-pink-main-container {
  width: 100%;
  background-color: #ffeff7;
  margin-top: 23.2rem;
  border-radius: 1.6rem;
}
.nova-profile-pink-top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #ffc9e3;
  height: 6.4rem;
  border-radius: 1.6rem;
}
.nova-profile-pink-box-btn {
  width: 25%;
  height: 6.4rem;
  background: #ee509c;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nova-profile-pink-box-btn p {
  font-family: "Comfortaa";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 27px;
}
