.nova-booking-start_comp_top_view {
  display: flex;
  flex-direction: column;
}

.nova-booking-start_comp_top_view h2 {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.6rem;
  padding: 3.6rem 3.5rem 2.4rem 3.5rem;
  color: #171d1c;
}
  
.nova-booking-start_comp_top_view h1 {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 2rem;
  line-height: 3.6rem;
  padding: 3.6rem 3.5rem 2.4rem 3.5rem ;
  color: #171d1c;
}

.nova-booking-start_comp_item_view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 0rem 1.6rem 0rem;
  padding: 1.2rem 3rem 1.2rem 1rem;
  background: #ffffff;
  border-radius: 16px;
  cursor: pointer;
}

.nova-booking-start_comp_item_view h2 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #292929;
  width: 15rem;
}

.nova-booking-start_comp_item_view img {
  width: 2.4rem;
  height: 2.4rem;
  object-fit: cover;
}

.nova-booking-start_comp_next_button_view {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 2.1rem;
  cursor: pointer;
}

.nova-booking-start_comp_next_button_view h3 {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #3d3d3d;
  padding-right: 0.5rem;
}

.nova-booking-start_comp_next_button_view img {
  width: 2.4rem;
  height: 2.4rem;
}

.accordion-main-container {
  /* background-color: red; */
  margin: 1rem 2.9rem 1rem 2.9rem;
  /* height: 4.8rem; */
  border-radius: 1.6rem !important;
}

.accordion-detail-container {
  /* margin: 0rem 2.9rem 1.6rem 2.9rem; */
  border-radius: 1.6rem !important;
  background-color: #ffffff !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 0px 3rem !important;
}
.css-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 0px !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  height: 0px !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}

/* .accordion-main-container h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #292929;
} */

.accordion-main-container h1{
  padding: .4rem;
}

@media screen and (max-width: 1440px) {
  .nova-booking-start_comp_top_view h1 {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .nova-booking-start_comp_item_view h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .nova-booking-start_comp_item_view img {
    width: 2rem;
    height: 2rem;
  }

  .nova-booking-start_comp_next_button_view h3 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .nova-booking-start_comp_next_button_view img {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .nova-booking-start_comp_top_view h1 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }

  .nova-booking-start_comp_item_view h2 {
    font-size: 1.2rem;
    line-height: 1.9rem;
  }

  .nova-booking-start_comp_item_view img {
    width: 1.8rem;
    height: 1.8rem;
  }

  .nova-booking-start_comp_next_button_view h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .nova-booking-start_comp_next_button_view img {
    width: 1.8rem;
    height: 1.8rem;
  }
}

@media screen and (max-width: 500px) {
  .nova-booking-start_comp_top_view h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .nova-booking-start_comp_item_view img {
    width: 1.6rem;
    height: 1.6rem;
  }

  .nova-booking-start_comp_next_button_view h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .nova-booking-start_comp_next_button_view img {
    width: 1.6rem;
    height: 1.6rem;
  }
}

@media screen and (max-width: 425px) {
  .nova-booking-start_comp_top_view h1 {
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
  }

  .nova-booking-start_comp_item_view img {
    width: 1.4rem;
    height: 1.4rem;
  }

  .nova-booking-start_comp_next_button_view h3 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }

  .nova-booking-start_comp_next_button_view img {
    width: 1.4rem;
    height: 1.4rem;
  }
}
