.nova-checkout-main-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  padding: 0 16rem 16rem 7.7rem;
}

.nova-checkout-main-heading p {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 36px;
  color: #171d1c;
  margin: 3.8rem 0;
}

.nova-checkout-pink-main-container {
  width: 100%;
  background-color: #ffeff7;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 6rem 3rem 3.5rem;
  border-radius: 1.6rem;
}

.nova-checkout-pink-heading p {
  font-family: "Comfortaa";
  font-weight: 700;
  font-size: 24px;
  color: #171d1c;
  margin-bottom: 2.5rem;
}

.nova-uncheck {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 8px;
  border: 1px solid #4f4f4f;
  cursor: pointer;
  margin-right: 3rem;
}
