.nova__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 5rem;
  height: 5.3rem;
  background: #EE509C;
}

.nova__navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nova_navbar-links_container {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.nova__navbar-links_text_view {
  padding-right: 4.8rem;
  display: flex;
  margin-top: 1.2rem;
}

.nova__navbar-links_book_now_button {
  display: flex;
  width: 10rem;
  height: 5.3rem;
  background: #292929;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin: 0.2rem 3.8rem 0.2rem 0rem;
  cursor: pointer;
}

.nova__navbar-links_book_now_button h2 {
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.nova__navbar-links_text_view h1 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #FFFFFF;
  cursor: pointer;
  border-bottom-width: 4px;
  padding-bottom: 1.2rem;
}

.nova_navbar-profile_view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 2rem;
  background-color: white;
  margin-left: 5rem;
  cursor: pointer;
}

.nova_navbar-profile_view img {
  width: 1.5rem;
  height: 1.6rem;
  object-fit: cover;
}

.nova__navbar_closeIcon {
  width: 2rem;
  height: 2rem;
}

.nova__navbar_menuIcon {
  width: 3rem;
  height: 3rem;
}

.nova__navbar-menu {
  margin-left: 1.6rem;
  display: none;
  position: relative;
  flex: 1;
}

.nova__navbar-menu img {
  cursor: pointer;
}

.nova__navbar-menu_container {
  display: flex;
  flex-direction: column;
  z-index: 100;
  text-align: start;
  background-color: #EE509C;
  padding: 3.2rem;
  position: absolute;
  top: 2.8rem;
  left: -0.5rem;
  margin-top: 2.4rem;
  min-width: 30rem;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.nova__navbar-menu_container h5 {
  display: flex;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  padding-bottom: 2rem;
  /* padding-right: 2.2rem; */
  /* margin-top: -10px; */
}

.nova_navbar-logo_view img {
  width: 9.1rem;
  height: 3.5rem;
  object-fit: contain;
}

.nova-navBar_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13.2rem;
  height: 3.6rem;
  background: #FFC9E3;
  border-radius: 8px;
  margin-bottom: 2rem;
  cursor: pointer;
}

.nova-navBar_button h6 {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #EE509C;
}

@media screen and (max-width: 1160px) {
  .nova__navbar-links_book_now_button {
    margin-bottom: 1rem;
  }

  .nova__navbar-links_text_view h1 {
    flex: 1;
    border-bottom-width: 0;
  }

  .nova_navbar-profile_view {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    margin-left: 0rem;
  }

  .nova__navbar {
    display: flex;
    padding-top: 3rem;
    padding-bottom: 3rem;
    justify-content: flex-start;
    align-items: center;
  }

  .nova__navbar-links {
    display: none;
    justify-content: center;
    align-items: center;
  }

  .nova__navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nova__navbar-links_text_view {
    padding-right: 0rem;
    padding-bottom: 1rem;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 550px) {
  .nova__navbar {
    padding: 0rem 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .nova__navbar-links_logo img {
    width: 7rem;
    height: 7rem;
    object-fit: cover;
  }

  .nova__navbar-menu_container {
    top: 2.5rem;
    padding: 2.2rem;
    margin-top: 2.4rem;
    min-width: 20rem;
  }

  .nova__navbar-links_text_view h1 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 400px) {

  .nova_navbar-logo_view {
    display: none;
  }
}